#body-hat {
    padding: 40px 20px;
    text-align: center;
    color: #eee;
    background-color: #333;
    /*background: linear-gradient(to bottom, #000 0%, #333 100%);*/
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
}
#body-flex {
    display: flex;
    height: 100%;
}

.sidebar-section {
    margin-top: 20px;
    text-align: left;
}

ul.sidebar-list {
  padding: 0 0 0 10px;
  margin: 0 0 0 10px;
}

#title-block > p {
    margin: 0;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.15em; }
h4 { font-size: 1em; }

h1.post-title {
    font-size: 2em;
}
h2.post-title {
    font-size: 1.5em;
}
h1.post-title,
h2.post-title,
h3.post-title,
h4.post-title {
    margin: 0;
    line-height: 1.2;
}
h2.post-title > a {
    text-decoration: none;
}

a.page-link {
    font-size: 400%;
    text-decoration: none;
}

ul.posts-list {
    margin: 0;
}
ul.posts-list-tags {
    margin-left: 30px;
}
ul > li > a {
    text-decoration: none;
}

li.posts-list-item {
    padding: 40px 0;
    border-bottom: 1px dashed gray;
}
li.posts-list-item-tags {
    padding: 15px 0;
}
li.posts-list-item:first-child {
    padding-top: 0;
}
li.posts-list-item:last-child {
    border-bottom: none;
}
li.posts-list-item > p:nth-last-child(2) {
    margin-bottom: 0;
}
li.posts-list-item > p:last-child {
    display: none;
    padding: 0;
}

a.link-readmore {
    display: inline-block;
    padding: 10px 12px;
    color: #555;
    text-decoration: none;
    background-color: #EBEBEB;
}
a.link-readmore:hover {
    background: #ddd;
}

#footer {
    margin-top: 30px;
    /*text-align: right;*/
    /*margin-left: -20px;*/
    font-size: 60%;
    color: gray;
}
#footer > a {
    color: gray;
}

iframe[id^="telegram-post"],
body.body_widget_post {
  min-width: auto !important;
}

#search-query {
    width: 100%;
    padding: 8px 6px;
    font-size: 100%;
}
#search-results {
    margin-top: 20px;
    text-align: left;
}
div[id^=search-summary-] {
    margin: 15px 0;
    padding-left: 20px;
}
div[id^=search-summary-] > h4 {
    margin: 0;
}
div[id^=search-summary-] > p {
    margin: 5px 0;
}

/* --- tablet --- */

@media only screen and (max-width: 940px) {
    #social-networks, #telegram {
        display: none;
    }
    .sidebar-section {
      text-align: center;
    }
    ul.sidebar-list {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
    }
    #search-query {
        padding: 10px 8px;
    }
}

/* --- phone --- */

@media only screen and (max-width: 414px) {
    #footer {
        text-align: center;
    }
}
