table {
  border-spacing: 0px;
  border-collapse: collapse;
}
.table th,
.table td {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}
table th {
  background: #f1f1f1;
}

table.top th,
table.top td {
  border-width: 0.5px;
}
th[class^=top-] {
  font-size: 120%;
}
th.top-best,
th.top-shit {
  font-size: 150%;
}
th.top-best {
  color: green;
}
th.top-shit {
  color: red;
}

.cool-input {
  display: block;
  height: 22px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.cool-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/* hovered photos
.cider-name {
    cursor: help;
}
.cider-name div {
    position: relative;
    text-decoration: underline dotted;
}
.cider-name div img {
    position: absolute;
    display: none;
    z-index: 1;
    height: 500px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .3);
}
.cider-name div:hover img {
    display: block;
}
*/
.cider-name > a {
    color: initial;
    text-decoration: underline dotted;
}

details {
    border: 0.5px solid black;
    border-radius: 0.25em;
}
details > summary {
    padding: 5px 10px;
    cursor: pointer;
    font-style: italic;
}
details > div.highlight > pre {
    margin: 0;
}
