h1 { margin: 25px 0 20px; }
h2 { margin: 20px 0 15px; }
h3, h4, h5, h6 { margin: 15px 0; }

p {
    margin: 15px 0;
}

.post-meta,
.posts-list-item-description {
    margin-top: 5px;
}

code {
    padding: 2px 7px;
    font-size: 120%;
    color: #333;
    background-color: #ebebeb;
    border-radius: 0.25rem;
    line-height: initial;
    word-wrap: break-word;
}
div.highlight > pre > code,
div.highlight > div > table code
{
    padding: unset;
    color: lime;
    background-color: unset;
    border-radius: unset;
    line-height: 1.5;
}
div.highlight > pre {
    padding: 10px;
    background-color: #282C34 !important;
}

#TableOfContents ul {
    margin: 0;
}
#TableOfContents a {
    text-decoration: none;
}

#tags {
    margin-top: 15px;
}

a.tag {
    margin: 0 3px;
    padding: 0;
}

div.post-content {
    margin-top: 1em;
}

video.video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
p.video-fallback {
    text-align: center;
    font-size: 80%;
    margin-bottom: 15px;
}

.review-score {
  text-align: center;
  font-size: 400%;
  font-weight: bold;
}

img.nobox {
    border: none !important;
    box-shadow: none !important;
}

/* alerts */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.updates-divider {
    width: 30%;
    margin: 30px auto;
}

.table-desc {
  float: right;
  margin-left: 15px;
}
.table-desc td {
    padding: 5px;
}
.td-head {
  text-align: right;
  font-weight: bold;
}

.image-post {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

blockquote {
  font-style: italic;
  padding-left: 10px;
  border-left: 3px solid gray;
}

nav#TableOfContents {
    margin: 16px 0;
}

.unsolved {
    background: #f8d7da;
    color: #721c24;
    padding: 10px 15px;
    border: 1px #f5c6cb solid;
    border-radius: 5px;
}
