<div id="wiki-wrapper" class="markdown-body" style="margin: 0 auto; max-width: 1280px; font-family: Verdana, sans-serif; padding: 15px 30px;">
  <div>
    <h2>{{title}}</h2>
    <div id="login" class="login_form">
      <p>{{subtext}}.</p>
      <a href="{{loginurl}}">Go back</a>
    </div>
  </div>
</div>
