* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
    background-color: #e5e5e5;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1280px;
    line-height: 1.5;
    background-color: #fff;
    box-shadow: 0 0 15px -5px #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

header, footer {
    background: #e6e6e6;
}
header,
header a,
header h1,
footer,
footer a {
    color: #555;
}

main {
    flex: 1;
    padding: 30px 50px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    border-top: 1px solid #ccc;
    font-size: 80%;
}

h1, h2, h3, h4, h5 {
    color: #0097ba;
}

a {
    color: #509E2F;
    text-decoration: none;
}

p {
    margin-top: 10px;
}

.page-header {
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 1.2;
}
h2.page-header {
    margin-top: 0;
}
.page-header > a {
    color: #0097ba;
}
summary > .page-header:first-of-type {
    margin-top: 0;
}

.section {
    margin-top: 30px;
}
.section:first-child {
    margin-top: 0;
}
.section > .section.nested {
    margin-top: 20px;
    padding-left: 40px;
}

table.listing {
    border-spacing: 5px;
}
table.listing th {
    text-align: right;
}

.nice-button,
.big-nice-button {
    padding: 10px;
    color: black;
    background: #eeeeee;
    border: 1px solid black;
    border-radius: 0.25em;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nice-button:hover,
.big-nice-button:hover {
    background: #e2e2e2;
    cursor: pointer;
}
.big-nice-button {
    display: inline-flex;
    align-items: center;
    padding: 12px 15px;
}
.big-nice-button > img {
    width: 1.5em;
    margin-right: 10px;
}
.small-nice-button {
    padding: 5px 10px;
    border-radius: 0.15em;
}
a.nice-button {
    color: initial;
}
.nice-button-danger {
    color: white;
    background-color: #DC3545;
    border-color: #DC3545;
}
.nice-button-danger:hover {
    background-color: #B02A37;
}

select,
input[type=date],
input[type=datetime-local] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.cool-input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    padding: 5px;
    min-width: 500px;
}
.cool-input::placeholder,
.cool-input::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.85em;
}

code {
    background: #ebebeb;
    padding: 2px 7px;
    border-radius: 0.25rem;
    font-size: 1.2em;
}

@media only screen and (max-width: 800px) {
    header h1 {
        font-size: 1.75em;
    }

    main {
        padding: 20px 25px 30px;
    }

    footer {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    footer > span {
        text-align: center;
    }

    .section > .section.nested {
        padding-left: 10px;
    }

    .cool-input {
        min-width: unset;
        width: 100%;
    }

    table.listing {
        width: 100%;
    }
    table.listing th:first-child {
        width: 15%;
    }
    table.listing td > input {
        max-width: unset;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .section > .section.nested {
        padding-left: 0;
    }

    table.listing th:first-child {
        width: 20%;
    }
}
