body {
    color: #696969;
    max-width: 900px;
    margin: 0 auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 180%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding-top: 50px;
}
header, main, footer {
    padding-left: 15px;
    padding-right: 15px;
}
main {
    flex: 1;
    padding-bottom: 50px;
}
footer {
    text-align: right;
    font-size: 0.6em;
    line-height: initial;
    padding-bottom: 10px;
}

h1 {
    line-height: 1.1;
}

.btn {
    display: block;
    background: #fcd440;
    padding: 20px 40px;
    border-radius: 1em;
    border: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    animation: 3s infinite flash
}
.btn:hover {
    background: #fcb440;
    box-shadow: none;
    color: #000;
    cursor: pointer;
}
.btn:active {
    background: #fcf340;
    box-shadow: none;
    color: #000
}
.btn:disabled {
    background: #ccc;
}

article {
    margin: 50px 0;
}

table {
    padding-left: 30px;
}

table td {
    padding: 5px;
}

input {
    margin: 0;
}

@keyframes flash {
    0% {
        opacity: 1
    }

    70% {
        opacity: 1
    }

    80% {
        opacity: .7
    }

    100% {
        opacity: 1
    }
}

img {
    max-width: 100%;
    height: auto
}

.col {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word
}

.ll {
    width: 430px
}

@media screen and (max-width:910px) {
    header {
        padding-top: 30px;
    }
    .col {
        float: unset;
        display: block
    }

    .ll {
        width: 100%
    }

    .desktop {
        display: none
    }

    body {
        margin: 0 5px
    }
}
