html {
    background-color: #e5e5e5;
}

body {
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px 30px 10px;
    background-color: #fff;
    box-shadow: 0 0 15px -5px #000;
}

body,
.markdown-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.container-lg {
    max-width: initial;
    margin-left: initial;
    margin-right: initial;
}

.TableObject {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.TableObject > * {
    margin: 5px;
}

.TableObject-item {
    display: block;
    width: initial;
}

.TableObject-item.px-2 {
    padding: 0 !important;
}

.TableObject-item.TableObject-item--primary {
    flex: 1;
    width: initial;
}

#search-query {
    width: initial;
    min-width: 100%;
}

.TableObject-item:nth-child(3),
.TableObject-item.pl-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0 !important;
}

.TableObject-item:nth-child(3) > *,
.TableObject-item.pl-1 > * {
    margin: 5px;
}

nav.actions {
    margin-bottom: 30px;
}

nav.actions:last-child {
    margin-bottom: 0;
}

h1.pt-4 {
    margin: 0;
    line-height: 1.25;
}

.breadcrumb {
    margin-top: 5px;
}

/*.has-header {
    margin-top: 20px;
}
#wiki-header {
    margin-bottom: 30px;
}*/

.markdown-body h2 {
    padding-bottom: 0;
    border-bottom: none;
}

.markdown-body {
    margin-top: 20px;
    padding: 0;
}

.pt-4,
.py-4 {
    padding-top: 0 !important;
}

h1.py-4 {
    padding-bottom: 0 !important;
    margin-bottom: 20px;
}

.toc {
    margin-top: 20px;
    /*padding: 0 0 0 5px;*/
    padding: 0;
    line-height: 2.0;
}

.toc-title {
    margin-bottom: 10px;
    font-size: initial;
}

.toc ul {
    margin: 0;
    padding-left: 30px;
}

.toc ul,
.toc ul ul,
.toc ul ul ul,
.toc ul ul ul ul,
.toc ul ul ul ul ul {
    font-size: 15px;
}

#wiki-content {
    margin-top: 30px;
}

#header-content {
    margin-top: 0;
    padding: 0;
}

#header-content > p:first-child {
    margin-bottom: 0;
}

#header-content > p:last-child {
    margin-top: 0;
}

.markdown-body a.anchor {
    display: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    background: none;
    background-size: 0;
}
.markdown-body a.anchor:first-child {
    display: block;
}

.markdown-body blockquote {
    padding: 5px 0 5px 15px;
    font-style: italic;
}

.markdown-body table thead > tr {
    background-color: #eee;
}

.markdown-body table tr:nth-child(2n) {
    background-color: initial;
}

.markdown-body li {
    margin: initial;
}

.markdown-body li+li {
    margin-top: initial;
}

.markdown-body ul > li,
.markdown-body ol > li {
    margin-top: 5px;
}

.markdown-body ul > li:first-child,
.markdown-body ol > li:first-child {
    margin-top: 0;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ul > li,
.markdown-body ul ol > li,
.markdown-body ol ol > li,
.markdown-body ol ul > li {
    margin-top: 3px;
}

.markdown-body img {
    display: block;
    margin: 0 auto;
    max-width: 95%;
}

img.icon {
    display: initial;
    margin: initial;
    max-width: initial;
}

.markdown-body pre {
    font-size: 15px;
    line-height: 1.5;
}

.markdown-body code,
.markdown-body tt {
    margin: initial;
    padding: 3px 6px;
    font-size: 0.9em;
}

ol ol,
ul ol {
    list-style-type: lower-alpha;
}

#footer {
    margin: 30px 0 0;
}

#footer > *:first-child {
    margin-top: 0;
}

#footer > *:last-child {
    margin-bottom: 0;
}

.markdown-body img.youtrack-link,
.markdown-body img.archived-banner,
.markdown-body img.wip-banner {
    margin: initial;
    padding: 5px;
}
.markdown-body img.youtrack-link,
.markdown-body img.wip-banner {
    float: right;
}
.markdown-body img.youtrack-link {
    max-width: 100px;
}
.markdown-body img.archived-banner {
    max-width: 400px;
}
.markdown-body img.wip-banner {
    max-width: 200px;
}

#gollum-dialog-dialog-body fieldset .field span.context {
    font-size: 0.8em;
    line-height: 1.0;
}
#gollum-dialog-dialog-body fieldset::after {
    content: initial;
}
#gollum-dialog-dialog-inner {
    height: initial !important;
    min-height: initial;
    max-height: initial;
}

.bordered {
    border: 1px solid black;
}
