@media only screen and (max-width: 550px)
{
    #homepage-container {
        flex-direction: column;
        overflow-x: initial;
    }
    #homepage-container > * {
        margin: 5px;
    }
    #homepage-container > .navigation-row {
        flex-direction: column;
    }
    .homepage-button {
        margin: 5px 0;
    }
    .homepage-button:first-child {
        margin-top: 0;
    }
    .homepage-button:last-child {
        margin-bottom: 0;
    }

    #search-query {
        width: 100%;
        min-width: initial;
    }

    .TableObject {
        flex-direction: column;
        text-align: center;
    }

    .TableObject-item {
        width: 100%;
    }

    .TableObject-item > * {
        width: 100%;
    }

    .TableObject-item.TableObject-item--primary {
        flex: initial;
    }

    .TableObject-item:nth-child(3),
    .TableObject-item.pl-1 {
        flex-direction: column;
    }
}
